<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameType="Digital"
		gameLabel="Digital"
		gamePrince="R$ 159,99"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameType="Exclusivo PS5"
		gameLabel="Exclusivo PS5"
		gamePrince="R$ 378,99"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameType="Exclusivo PS4"
		gameLabel="Exclusivo PS4"
		gamePrince="R$ 199,99"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameType="Digital"
		gameLabel="Digital"
		gamePrince="R$ 59,99"
	></app-card>
</div>

